.contacts 
    a.contact(href="tel:+380689999999")
        i.fas.fa-mobile.contact__icon
        span.contact__text 3333 4444

    a.contact(href="mailto:info@business.com")
        i.fas.fa-envelope.contact__icon
        span.contact__text info@business.com

    a.facebook-icon(href="facebook.com")
        i.fas.fa-facebook-square